<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Engineering</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Engineering</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3a6be86d-fcf4-4a84-be58-1b5ba3bfda21.png" alt="Engineering" usemap="#3a6be86d-fcf4-4a84-be58-1b5ba3bfda21map"/>
			   <map name="3a6be86d-fcf4-4a84-be58-1b5ba3bfda21map">
				          <area shape="rect" coords="166,171,335,556" href="../objects/eda9822c-3b35-4cf2-8d29-2712f258165e.html" target="element" >
				  		<area shape="rect" coords="874,483,994,538" href="../elements/63d59a05-2d34-490c-9974-21df5d2292cc.html"  target="element">
				  		<area shape="rect" coords="706,483,826,538" href="../elements/374067f9-65b4-4d4e-b0c5-dab6c6fc0ae9.html"  target="element">
				  		<area shape="rect" coords="22,411,142,466" href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html"  target="element">
				  		<area shape="rect" coords="178,87,298,142" href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html"  target="element">
				  		<area shape="rect" coords="10,243,130,298" href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html"  target="element">
				  		<area shape="rect" coords="532,15,652,70" href="../elements/c9fb85d3-0493-4cb8-9313-a39910d6f290.html"  target="element">
				  		<area shape="rect" coords="706,15,826,70" href="../elements/104b040e-fedf-457b-b2ec-23f44732634e.html"  target="element">
				  		<area shape="rect" coords="532,99,652,154" href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html"  target="element">
				  		<area shape="rect" coords="382,99,502,154" href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html"  target="element">
				  		<area shape="rect" coords="297,15,417,70" href="../elements/b6f62e43-6567-4823-b7e0-cc748e9c011d.html"  target="element">
				  		<area shape="rect" coords="532,231,652,286" href="../elements/796ba584-4a70-4522-85a5-ed386fe769a3.html"  target="element">
				  		<area shape="rect" coords="346,333,466,388" href="../elements/bf9bcefc-9f57-4fab-8c6f-279a3ee38f3f.html"  target="element">
				  		<area shape="rect" coords="346,231,466,286" href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html"  target="element">
				  		<area shape="rect" coords="874,333,994,388" href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html"  target="element">
				  		<area shape="rect" coords="178,411,298,466" href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html"  target="element">
				  		<area shape="rect" coords="706,333,826,388" href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html"  target="element">
				  		<area shape="rect" coords="526,333,658,388" href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html"  target="element">
				          <area shape="rect" coords="166,195,839,556" href="../objects/2e5fe920-ee28-43c9-86e6-51d3c5cc4f71.html" target="element" >
				          <area shape="rect" coords="478,171,839,556" href="../objects/367e0d88-dac2-4fc0-a0f6-5457f170bf14.html" target="element" >
				          <area shape="rect" coords="334,171,479,556" href="../objects/99f8b085-2752-41f4-8f4e-1602b3ea1cfd.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/99f8b085-2752-41f4-8f4e-1602b3ea1cfd.html" target="element"> Behaviour </a> </td>
									           <td> <a href="../objects/99f8b085-2752-41f4-8f4e-1602b3ea1cfd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/367e0d88-dac2-4fc0-a0f6-5457f170bf14.html" target="element"> Active structure </a> </td>
									           <td> <a href="../objects/367e0d88-dac2-4fc0-a0f6-5457f170bf14.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/2e5fe920-ee28-43c9-86e6-51d3c5cc4f71.html" target="element"> Engineering layer </a> </td>
									           <td> <a href="../objects/2e5fe920-ee28-43c9-86e6-51d3c5cc4f71.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
											    <td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element" class="i18n-elementtype-Equipment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element"> [Facility] </a> </td>
											    <td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element" class="i18n-elementtype-Facility"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html" target="element"> [Material] </a> </td>
											    <td> <a href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html" target="element" class="i18n-elementtype-Material"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element"> [Location] </a> </td>
											    <td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
											    <td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf9bcefc-9f57-4fab-8c6f-279a3ee38f3f.html" target="element"> [Engineering Function/Process] </a> </td>
											    <td> <a href="../elements/bf9bcefc-9f57-4fab-8c6f-279a3ee38f3f.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/796ba584-4a70-4522-85a5-ed386fe769a3.html" target="element"> [Engineering Interface] </a> </td>
											    <td> <a href="../elements/796ba584-4a70-4522-85a5-ed386fe769a3.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b6f62e43-6567-4823-b7e0-cc748e9c011d.html" target="element"> [Infrastructure Function/Process] </a> </td>
											    <td> <a href="../elements/b6f62e43-6567-4823-b7e0-cc748e9c011d.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
											    <td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
											    <td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/104b040e-fedf-457b-b2ec-23f44732634e.html" target="element"> [Device] </a> </td>
											    <td> <a href="../elements/104b040e-fedf-457b-b2ec-23f44732634e.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c9fb85d3-0493-4cb8-9313-a39910d6f290.html" target="element"> [Node] </a> </td>
											    <td> <a href="../elements/c9fb85d3-0493-4cb8-9313-a39910d6f290.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
											    <td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
											    <td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
											    <td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/374067f9-65b4-4d4e-b0c5-dab6c6fc0ae9.html" target="element"> [Distribution Network] </a> </td>
											    <td> <a href="../elements/374067f9-65b4-4d4e-b0c5-dab6c6fc0ae9.html" target="element" class="i18n-elementtype-DistributionNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/63d59a05-2d34-490c-9974-21df5d2292cc.html" target="element"> [Path] </a> </td>
											    <td> <a href="../elements/63d59a05-2d34-490c-9974-21df5d2292cc.html" target="element" class="i18n-elementtype-Path"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/eda9822c-3b35-4cf2-8d29-2712f258165e.html" target="element"> Passive structure </a> </td>
									           <td> <a href="../objects/eda9822c-3b35-4cf2-8d29-2712f258165e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/6d969d24-148e-43f8-8f7d-f71becdd27d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d969d24-148e-43f8-8f7d-f71becdd27d5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
																		<td> <a href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html" target="element"> [Material] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3623a685-23a7-4d5c-a5fc-1292f609848d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3623a685-23a7-4d5c-a5fc-1292f609848d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
																		<td> <a href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html" target="element"> [Material] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba832809-7f60-4f0f-9f47-2566a2ce1acd.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba832809-7f60-4f0f-9f47-2566a2ce1acd.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
																		<td> <a href="../elements/bf9bcefc-9f57-4fab-8c6f-279a3ee38f3f.html" target="element"> [Engineering Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c6d974c-27e4-4af7-b799-70bd9774a356.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c6d974c-27e4-4af7-b799-70bd9774a356.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
																		<td> <a href="../elements/796ba584-4a70-4522-85a5-ed386fe769a3.html" target="element"> [Engineering Interface] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b942994c-47c5-460e-8873-da91fa19813c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b942994c-47c5-460e-8873-da91fa19813c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dc589190-f229-40ee-84a4-f268751491c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc589190-f229-40ee-84a4-f268751491c4.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element"> [Facility] </a> </td>
																		<td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ef1d9ab2-65fc-4bb6-b9dc-ae486e1391c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef1d9ab2-65fc-4bb6-b9dc-ae486e1391c1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element"> [Facility] </a> </td>
																		<td> <a href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html" target="element"> [Material] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d70c5499-fbf7-411e-ac7f-cf00e92c26bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/d70c5499-fbf7-411e-ac7f-cf00e92c26bd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element"> [Facility] </a> </td>
																		<td> <a href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html" target="element"> [Material] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3cf82dee-b64e-48d8-9785-295dc2e59667.html" target="element">  </a> </td>
																		<td> <a href="../elements/3cf82dee-b64e-48d8-9785-295dc2e59667.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element"> [Facility] </a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f6e67000-aca1-4107-80d6-d1a74125a678.html" target="element">  </a> </td>
																		<td> <a href="../elements/f6e67000-aca1-4107-80d6-d1a74125a678.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element"> [Facility] </a> </td>
																		<td> <a href="../elements/374067f9-65b4-4d4e-b0c5-dab6c6fc0ae9.html" target="element"> [Distribution Network] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7e5a6a49-941e-41e5-8c8d-769843cfd4bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/7e5a6a49-941e-41e5-8c8d-769843cfd4bd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html" target="element"> [Material] </a> </td>
																		<td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ae30f783-730b-4ac9-be8e-d203d8371503.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae30f783-730b-4ac9-be8e-d203d8371503.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element"> [Location] </a> </td>
																		<td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element"> [Facility] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0cfc360-d4ab-4b78-ada8-82b0e119d1d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0cfc360-d4ab-4b78-ada8-82b0e119d1d2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element"> [Location] </a> </td>
																		<td> <a href="../elements/104b040e-fedf-457b-b2ec-23f44732634e.html" target="element"> [Device] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/501c5eb3-1779-4e0a-90c6-ece418ae02ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/501c5eb3-1779-4e0a-90c6-ece418ae02ff.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/bf9bcefc-9f57-4fab-8c6f-279a3ee38f3f.html" target="element"> [Engineering Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e65482ab-b6a4-4649-b89a-1a34773b0a98.html" target="element">  </a> </td>
																		<td> <a href="../elements/e65482ab-b6a4-4649-b89a-1a34773b0a98.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/b6f62e43-6567-4823-b7e0-cc748e9c011d.html" target="element"> [Infrastructure Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f1aaf33a-22d6-4b6d-b1ba-d0aaf4c8fc93.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1aaf33a-22d6-4b6d-b1ba-d0aaf4c8fc93.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/adae836d-7142-418c-89e0-f1359d7b37ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/adae836d-7142-418c-89e0-f1359d7b37ff.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9a40451-2ce0-4522-8ddf-89b50c3018ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9a40451-2ce0-4522-8ddf-89b50c3018ff.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/c9fb85d3-0493-4cb8-9313-a39910d6f290.html" target="element"> [Node] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3fabe1bb-276e-47cf-8d0f-08f677167538.html" target="element">  </a> </td>
																		<td> <a href="../elements/3fabe1bb-276e-47cf-8d0f-08f677167538.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62ed443a-b58c-4051-9b6c-d38c479d345f.html" target="element">  </a> </td>
																		<td> <a href="../elements/62ed443a-b58c-4051-9b6c-d38c479d345f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/700edb07-9632-47f3-9ac2-0db7e89b3399.html" target="element">  </a> </td>
																		<td> <a href="../elements/700edb07-9632-47f3-9ac2-0db7e89b3399.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bf9bcefc-9f57-4fab-8c6f-279a3ee38f3f.html" target="element"> [Engineering Function/Process] </a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1e7fb176-8fb1-4fc4-ad6a-3189e1a7e59a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e7fb176-8fb1-4fc4-ad6a-3189e1a7e59a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/796ba584-4a70-4522-85a5-ed386fe769a3.html" target="element"> [Engineering Interface] </a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0a2376ee-986a-4427-a8b6-20724a456620.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a2376ee-986a-4427-a8b6-20724a456620.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/796ba584-4a70-4522-85a5-ed386fe769a3.html" target="element"> [Engineering Interface] </a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/223618ff-6713-4ff1-8d4e-962515da0a12.html" target="element">  </a> </td>
																		<td> <a href="../elements/223618ff-6713-4ff1-8d4e-962515da0a12.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/796ba584-4a70-4522-85a5-ed386fe769a3.html" target="element"> [Engineering Interface] </a> </td>
																		<td> <a href="../elements/c9fb85d3-0493-4cb8-9313-a39910d6f290.html" target="element"> [Node] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/774f586b-2b8d-4508-b0f9-8ed7f0c2c72c.html" target="element">  </a> </td>
																		<td> <a href="../elements/774f586b-2b8d-4508-b0f9-8ed7f0c2c72c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																		<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ca6a13fd-1e07-489e-b41b-805d12f1a753.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca6a13fd-1e07-489e-b41b-805d12f1a753.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/104b040e-fedf-457b-b2ec-23f44732634e.html" target="element"> [Device] </a> </td>
																		<td> <a href="../elements/c9fb85d3-0493-4cb8-9313-a39910d6f290.html" target="element"> [Node] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/87b5cfd0-1da0-40c1-81ef-6d81eb7e5af7.html" target="element">  </a> </td>
																		<td> <a href="../elements/87b5cfd0-1da0-40c1-81ef-6d81eb7e5af7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/c9fb85d3-0493-4cb8-9313-a39910d6f290.html" target="element"> [Node] </a> </td>
																		<td> <a href="../elements/b6f62e43-6567-4823-b7e0-cc748e9c011d.html" target="element"> [Infrastructure Function/Process] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7deac735-1e4e-4283-9c7d-c07441d5c312.html" target="element">  </a> </td>
																		<td> <a href="../elements/7deac735-1e4e-4283-9c7d-c07441d5c312.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40e1bfe0-17be-4891-9754-3d8228a0c2b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/40e1bfe0-17be-4891-9754-3d8228a0c2b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/25346a19-3082-420c-b155-ddea54812196.html" target="element">  </a> </td>
																		<td> <a href="../elements/25346a19-3082-420c-b155-ddea54812196.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/374067f9-65b4-4d4e-b0c5-dab6c6fc0ae9.html" target="element"> [Distribution Network] </a> </td>
																		<td> <a href="../elements/14785efe-3c62-48f7-93bf-eef09861b8c4.html" target="element"> [Facility] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f7f4a1c-6f90-4844-b113-b20d9fd9e1c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f7f4a1c-6f90-4844-b113-b20d9fd9e1c3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/374067f9-65b4-4d4e-b0c5-dab6c6fc0ae9.html" target="element"> [Distribution Network] </a> </td>
																		<td> <a href="../elements/3290b504-3bc6-4b1d-b56a-cb36c8c25c24.html" target="element"> [Equipment] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07eb315d-8fe1-41d8-a150-4c3479340e09.html" target="element">  </a> </td>
																		<td> <a href="../elements/07eb315d-8fe1-41d8-a150-4c3479340e09.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/374067f9-65b4-4d4e-b0c5-dab6c6fc0ae9.html" target="element"> [Distribution Network] </a> </td>
																		<td> <a href="../elements/c6f9e421-422c-4aa0-b9ed-5a25cf47d303.html" target="element"> [Material] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f0e0d0ea-dbd1-4d2f-ab2d-a6c8052427f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/f0e0d0ea-dbd1-4d2f-ab2d-a6c8052427f5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/374067f9-65b4-4d4e-b0c5-dab6c6fc0ae9.html" target="element"> [Distribution Network] </a> </td>
																		<td> <a href="../elements/63d59a05-2d34-490c-9974-21df5d2292cc.html" target="element"> [Path] </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>