<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Product</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Product</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-product"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_product" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/46b08cca-5b49-4e12-bd0e-56e1d4b4dfeb.png" alt="Product" usemap="#46b08cca-5b49-4e12-bd0e-56e1d4b4dfebmap"/>
			   <map name="46b08cca-5b49-4e12-bd0e-56e1d4b4dfebmap">
				  		<area shape="rect" coords="335,10,455,65" href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html"  target="element">
				  		<area shape="rect" coords="166,10,286,65" href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html"  target="element">
				  		<area shape="rect" coords="598,185,718,240" href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html"  target="element">
				  		<area shape="rect" coords="454,185,574,240" href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html"  target="element">
				  		<area shape="rect" coords="310,185,430,240" href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html"  target="element">
				  		<area shape="rect" coords="10,58,130,113" href="../elements/4c8fad0a-0d9c-4819-afc7-06ccc69c9152.html"  target="element">
				  		<area shape="rect" coords="10,142,130,197" href="../elements/00f9b824-763f-4646-b089-198a15c48bf7.html"  target="element">
				  		<area shape="rect" coords="10,232,130,287" href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html"  target="element">
				  		<area shape="rect" coords="502,10,622,65" href="../elements/4c02fbee-7be3-412f-8942-37f7274e6804.html"  target="element">
				  		<area shape="rect" coords="166,184,286,239" href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html"  target="element">
				  		<area shape="rect" coords="466,370,586,425" href="../elements/2a83c55a-c1f8-46ac-87cd-6d32f6c0b514.html"  target="element">
				  		<area shape="rect" coords="322,370,442,425" href="../elements/aa5d9400-3c49-4935-83ea-a7ee5b378e7b.html"  target="element">
				  		<area shape="rect" coords="166,286,767,341" href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html"  target="element">
				  		<area shape="rect" coords="166,94,767,149" href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
											    <td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
											    <td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa5d9400-3c49-4935-83ea-a7ee5b378e7b.html" target="element"> SLI </a> </td>
											    <td> <a href="../elements/aa5d9400-3c49-4935-83ea-a7ee5b378e7b.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a83c55a-c1f8-46ac-87cd-6d32f6c0b514.html" target="element"> SLO </a> </td>
											    <td> <a href="../elements/2a83c55a-c1f8-46ac-87cd-6d32f6c0b514.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
											    <td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4c02fbee-7be3-412f-8942-37f7274e6804.html" target="element"> [Product owner] </a> </td>
											    <td> <a href="../elements/4c02fbee-7be3-412f-8942-37f7274e6804.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
											    <td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/00f9b824-763f-4646-b089-198a15c48bf7.html" target="element"> [Capability] </a> </td>
											    <td> <a href="../elements/00f9b824-763f-4646-b089-198a15c48bf7.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4c8fad0a-0d9c-4819-afc7-06ccc69c9152.html" target="element"> [Domain] </a> </td>
											    <td> <a href="../elements/4c8fad0a-0d9c-4819-afc7-06ccc69c9152.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
											    <td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
											    <td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
											    <td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element"> [Consumer Role] </a> </td>
											    <td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html" target="element"> [Consumer Actor] </a> </td>
											    <td> <a href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/2461a6a0-2c85-4f7b-ac47-3d908cfa6bcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/2461a6a0-2c85-4f7b-ac47-3d908cfa6bcc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/15aed3e8-65ac-41ca-abd5-af0998d2b203.html" target="element">  </a> </td>
																		<td> <a href="../elements/15aed3e8-65ac-41ca-abd5-af0998d2b203.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9009c73-d47f-409c-aea0-143d1c3484be.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9009c73-d47f-409c-aea0-143d1c3484be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5be12ead-8b63-419a-93f5-ec730054540e.html" target="element">  </a> </td>
																		<td> <a href="../elements/5be12ead-8b63-419a-93f5-ec730054540e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7deac735-1e4e-4283-9c7d-c07441d5c312.html" target="element">  </a> </td>
																		<td> <a href="../elements/7deac735-1e4e-4283-9c7d-c07441d5c312.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c392049f-4766-4b51-a131-b053098dcbbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/c392049f-4766-4b51-a131-b053098dcbbe.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html" target="element"> [Consumer Actor] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/318736d9-804e-41d9-82b6-1fdc7ca18ff5.html" target="element">  </a> </td>
																		<td> <a href="../elements/318736d9-804e-41d9-82b6-1fdc7ca18ff5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																		<td> <a href="../elements/aa5d9400-3c49-4935-83ea-a7ee5b378e7b.html" target="element"> SLI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bafa7c60-81fd-4b24-b541-59750c6c34df.html" target="element">  </a> </td>
																		<td> <a href="../elements/bafa7c60-81fd-4b24-b541-59750c6c34df.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																		<td> <a href="../elements/2a83c55a-c1f8-46ac-87cd-6d32f6c0b514.html" target="element"> SLO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bad35803-1e07-4978-88c5-4a12acb7cf9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/bad35803-1e07-4978-88c5-4a12acb7cf9e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6fe15aeb-80c1-4d53-862f-f9ba059c9223.html" target="element">  </a> </td>
																		<td> <a href="../elements/6fe15aeb-80c1-4d53-862f-f9ba059c9223.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																		<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/413ad162-5b50-4bf1-b1c5-35cd9af0299e.html" target="element">  </a> </td>
																		<td> <a href="../elements/413ad162-5b50-4bf1-b1c5-35cd9af0299e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																		<td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element"> [Consumer Role] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9639685b-00fe-4a68-9301-4081c2fbc0b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/9639685b-00fe-4a68-9301-4081c2fbc0b7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/4c02fbee-7be3-412f-8942-37f7274e6804.html" target="element"> [Product owner] </a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c7cb95e0-2bb4-4578-b348-b06240057519.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7cb95e0-2bb4-4578-b348-b06240057519.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/00f9b824-763f-4646-b089-198a15c48bf7.html" target="element"> [Capability] </a> </td>
																		<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6c53361a-2698-435b-842c-7ce3c3ef2811.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c53361a-2698-435b-842c-7ce3c3ef2811.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4c8fad0a-0d9c-4819-afc7-06ccc69c9152.html" target="element"> [Domain] </a> </td>
																		<td> <a href="../elements/00f9b824-763f-4646-b089-198a15c48bf7.html" target="element"> [Capability] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8396e59b-ce59-4dda-beaa-ec2a3301e86c.html" target="element">  </a> </td>
																		<td> <a href="../elements/8396e59b-ce59-4dda-beaa-ec2a3301e86c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5842d436-8325-4006-985d-8f52ce1c8817.html" target="element">  </a> </td>
																		<td> <a href="../elements/5842d436-8325-4006-985d-8f52ce1c8817.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9e68f3b7-3086-40df-8c41-b87144ff72c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/9e68f3b7-3086-40df-8c41-b87144ff72c7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
																		<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5f1e563c-48de-4428-9766-1343423f6a4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f1e563c-48de-4428-9766-1343423f6a4e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
																		<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3fabe1bb-276e-47cf-8d0f-08f677167538.html" target="element">  </a> </td>
																		<td> <a href="../elements/3fabe1bb-276e-47cf-8d0f-08f677167538.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5288015a-a1c6-4b62-aef3-950ab3867876.html" target="element">  </a> </td>
																		<td> <a href="../elements/5288015a-a1c6-4b62-aef3-950ab3867876.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/4d02829e-ad5d-4ba9-8767-f9240b46dacd.html" target="element"> [Engineering Service] </a> </td>
																		<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/64486cac-efe2-4451-935d-a52e49eb91ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/64486cac-efe2-4451-935d-a52e49eb91ff.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html" target="element"> [Consumer Actor] </a> </td>
																		<td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element"> [Consumer Role] </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>