<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7d0d1953-c057-4aa0-bbfc-116f1c630972.png" alt="Business" usemap="#7d0d1953-c057-4aa0-bbfc-116f1c630972map"/>
			   <map name="7d0d1953-c057-4aa0-bbfc-116f1c630972map">
				  		<area shape="rect" coords="334,525,454,580" href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html"  target="element">
				  		<area shape="rect" coords="550,525,670,580" href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html"  target="element">
				  		<area shape="rect" coords="358,10,478,65" href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html"  target="element">
				  						<area shape="rect" coords="58,382,143,437" href="../elements/2a83c55a-c1f8-46ac-87cd-6d32f6c0b514.html"  target="element">
				  						<area shape="rect" coords="58,310,143,365" href="../elements/aa5d9400-3c49-4935-83ea-a7ee5b378e7b.html"  target="element">

				  				<area shape="rect" coords="46,274,155,467" href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html"  target="element">

				  		<area shape="rect" coords="34,238,167,485" href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html"  target="element">
				  		<area shape="rect" coords="202,430,322,485" href="../elements/b942ec3f-ecac-420c-89ad-c6220aa8d084.html"  target="element">
				  		<area shape="rect" coords="202,346,322,401" href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html"  target="element">
				  		<area shape="rect" coords="862,142,982,401" href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html"  target="element">
				  		<area shape="rect" coords="550,346,670,401" href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html"  target="element">
				  		<area shape="rect" coords="706,346,826,401" href="../elements/1ef465d9-b11d-4821-b39f-8203db8b319d.html"  target="element">
				  		<area shape="rect" coords="550,238,670,293" href="../elements/af08c4ce-7b5e-4521-97b9-2aa9fd4b3fe3.html"  target="element">
				  		<area shape="rect" coords="706,142,826,197" href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html"  target="element">
				  		<area shape="rect" coords="550,142,670,197" href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html"  target="element">
				          <area shape="rect" coords="526,82,839,510" href="../objects/cd5d5c75-2f29-4655-b346-2969e589ce8d.html" target="element" >
				          <area shape="rect" coords="10,82,335,510" href="../objects/8fdd44e8-cdc2-4912-b8f1-3c8fd8fceb76.html" target="element" >
				  				<area shape="rect" coords="22,166,142,221" href="../elements/4c02fbee-7be3-412f-8942-37f7274e6804.html"  target="element">
				  				<area shape="rect" coords="346,238,466,293" href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html"  target="element">
				  				<area shape="rect" coords="382,346,502,401" href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html"  target="element">

				          <area shape="rect" coords="10,118,839,503" href="../objects/01c9620b-843e-46d8-8e86-f5d8996057f3.html" target="element" >
				          <area shape="rect" coords="334,82,527,510" href="../objects/33c22bdd-aa75-424b-81bd-0a61680d1532.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/33c22bdd-aa75-424b-81bd-0a61680d1532.html" target="element"> Behaviour </a> </td>
									           <td> <a href="../objects/33c22bdd-aa75-424b-81bd-0a61680d1532.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/01c9620b-843e-46d8-8e86-f5d8996057f3.html" target="element"> Business layer </a> </td>
									           <td> <a href="../objects/01c9620b-843e-46d8-8e86-f5d8996057f3.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
													    <td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
													    <td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4c02fbee-7be3-412f-8942-37f7274e6804.html" target="element"> [Product owner] </a> </td>
													    <td> <a href="../elements/4c02fbee-7be3-412f-8942-37f7274e6804.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/8fdd44e8-cdc2-4912-b8f1-3c8fd8fceb76.html" target="element"> Passive structure </a> </td>
									           <td> <a href="../objects/8fdd44e8-cdc2-4912-b8f1-3c8fd8fceb76.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/cd5d5c75-2f29-4655-b346-2969e589ce8d.html" target="element"> Active structure </a> </td>
									           <td> <a href="../objects/cd5d5c75-2f29-4655-b346-2969e589ce8d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element"> [Consumer Role] </a> </td>
											    <td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html" target="element"> [Consumer Actor] </a> </td>
											    <td> <a href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/af08c4ce-7b5e-4521-97b9-2aa9fd4b3fe3.html" target="element"> [Business Interface] </a> </td>
											    <td> <a href="../elements/af08c4ce-7b5e-4521-97b9-2aa9fd4b3fe3.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ef465d9-b11d-4821-b39f-8203db8b319d.html" target="element"> [Operator Actor] </a> </td>
											    <td> <a href="../elements/1ef465d9-b11d-4821-b39f-8203db8b319d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
											    <td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element"> [Location] </a> </td>
											    <td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
											    <td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b942ec3f-ecac-420c-89ad-c6220aa8d084.html" target="element"> [Representation] </a> </td>
											    <td> <a href="../elements/b942ec3f-ecac-420c-89ad-c6220aa8d084.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
											    <td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
													    <td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/aa5d9400-3c49-4935-83ea-a7ee5b378e7b.html" target="element"> SLI </a> </td>
															    <td> <a href="../elements/aa5d9400-3c49-4935-83ea-a7ee5b378e7b.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2a83c55a-c1f8-46ac-87cd-6d32f6c0b514.html" target="element"> SLO </a> </td>
															    <td> <a href="../elements/2a83c55a-c1f8-46ac-87cd-6d32f6c0b514.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
											    <td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element"> [IT  Interface] </a> </td>
											    <td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
											    <td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/a487243b-f0f2-4e6e-a25b-15880777f0e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/a487243b-f0f2-4e6e-a25b-15880777f0e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																				<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5af7db50-2de2-407d-b2c5-c55b11f730f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/5af7db50-2de2-407d-b2c5-c55b11f730f4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																				<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c794f4a5-dbb3-4771-bf32-c434e1721920.html" target="element">  </a> </td>
																				<td> <a href="../elements/c794f4a5-dbb3-4771-bf32-c434e1721920.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																				<td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8ff4905e-faec-4c79-b985-cb1351f46e3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/8ff4905e-faec-4c79-b985-cb1351f46e3a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																				<td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/413ad162-5b50-4bf1-b1c5-35cd9af0299e.html" target="element">  </a> </td>
																				<td> <a href="../elements/413ad162-5b50-4bf1-b1c5-35cd9af0299e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																				<td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element"> [Consumer Role] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9e0dc772-0ae3-494c-9e46-ad8ecd1cce1a.html" target="element">  </a> </td>
																				<td> <a href="../elements/9e0dc772-0ae3-494c-9e46-ad8ecd1cce1a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																				<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5597cd9b-fc1e-417d-ba34-f919ed27c9ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/5597cd9b-fc1e-417d-ba34-f919ed27c9ec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																				<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6fe15aeb-80c1-4d53-862f-f9ba059c9223.html" target="element">  </a> </td>
																				<td> <a href="../elements/6fe15aeb-80c1-4d53-862f-f9ba059c9223.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																				<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9639685b-00fe-4a68-9301-4081c2fbc0b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/9639685b-00fe-4a68-9301-4081c2fbc0b7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/4c02fbee-7be3-412f-8942-37f7274e6804.html" target="element"> [Product owner] </a> </td>
																				<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/64486cac-efe2-4451-935d-a52e49eb91ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/64486cac-efe2-4451-935d-a52e49eb91ff.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html" target="element"> [Consumer Actor] </a> </td>
																		<td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element"> [Consumer Role] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/25f577bc-f72d-4619-b457-de0bd79eb344.html" target="element">  </a> </td>
																		<td> <a href="../elements/25f577bc-f72d-4619-b457-de0bd79eb344.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/af08c4ce-7b5e-4521-97b9-2aa9fd4b3fe3.html" target="element"> [Business Interface] </a> </td>
																		<td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element"> [Consumer Role] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/78056100-3182-47de-9947-2edaab5fecde.html" target="element">  </a> </td>
																		<td> <a href="../elements/78056100-3182-47de-9947-2edaab5fecde.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/af08c4ce-7b5e-4521-97b9-2aa9fd4b3fe3.html" target="element"> [Business Interface] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f8e1f52e-4808-4ae7-bd47-e7b0b0ef0ec5.html" target="element">  </a> </td>
																		<td> <a href="../elements/f8e1f52e-4808-4ae7-bd47-e7b0b0ef0ec5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/1ef465d9-b11d-4821-b39f-8203db8b319d.html" target="element"> [Operator Actor] </a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/75884331-e502-47f9-9b85-6a063bd2ba00.html" target="element">  </a> </td>
																		<td> <a href="../elements/75884331-e502-47f9-9b85-6a063bd2ba00.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																		<td> <a href="../elements/af08c4ce-7b5e-4521-97b9-2aa9fd4b3fe3.html" target="element"> [Business Interface] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/774f586b-2b8d-4508-b0f9-8ed7f0c2c72c.html" target="element">  </a> </td>
																		<td> <a href="../elements/774f586b-2b8d-4508-b0f9-8ed7f0c2c72c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																		<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3cfdee15-836d-426e-a3f3-4b0939ec1c42.html" target="element">  </a> </td>
																		<td> <a href="../elements/3cfdee15-836d-426e-a3f3-4b0939ec1c42.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/df87ce11-526f-45a6-b6b9-783889faa9f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/df87ce11-526f-45a6-b6b9-783889faa9f0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element"> [Location] </a> </td>
																		<td> <a href="../elements/f0022215-2c04-412d-883c-62367d89feb6.html" target="element"> [Consumer Actor] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/079d52b2-6791-4b14-99eb-9606fed422cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/079d52b2-6791-4b14-99eb-9606fed422cb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element"> [Location] </a> </td>
																		<td> <a href="../elements/1ef465d9-b11d-4821-b39f-8203db8b319d.html" target="element"> [Operator Actor] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9585150b-05cf-49f3-8302-5d460a66baa5.html" target="element">  </a> </td>
																		<td> <a href="../elements/9585150b-05cf-49f3-8302-5d460a66baa5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b942ec3f-ecac-420c-89ad-c6220aa8d084.html" target="element"> [Representation] </a> </td>
																		<td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/15aed3e8-65ac-41ca-abd5-af0998d2b203.html" target="element">  </a> </td>
																		<td> <a href="../elements/15aed3e8-65ac-41ca-abd5-af0998d2b203.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40e1bfe0-17be-4891-9754-3d8228a0c2b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/40e1bfe0-17be-4891-9754-3d8228a0c2b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c8e2d09b-6d36-4d86-8969-99d219fba720.html" target="element">  </a> </td>
																		<td> <a href="../elements/c8e2d09b-6d36-4d86-8969-99d219fba720.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/b942ec3f-ecac-420c-89ad-c6220aa8d084.html" target="element"> [Representation] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2461a6a0-2c85-4f7b-ac47-3d908cfa6bcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/2461a6a0-2c85-4f7b-ac47-3d908cfa6bcc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9009c73-d47f-409c-aea0-143d1c3484be.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9009c73-d47f-409c-aea0-143d1c3484be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/318736d9-804e-41d9-82b6-1fdc7ca18ff5.html" target="element">  </a> </td>
																				<td> <a href="../elements/318736d9-804e-41d9-82b6-1fdc7ca18ff5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																				<td> <a href="../elements/aa5d9400-3c49-4935-83ea-a7ee5b378e7b.html" target="element"> SLI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bafa7c60-81fd-4b24-b541-59750c6c34df.html" target="element">  </a> </td>
																				<td> <a href="../elements/bafa7c60-81fd-4b24-b541-59750c6c34df.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/631048d9-b074-4b67-be3a-1e400fc2bd4f.html" target="element"> SLA </a> </td>
																				<td> <a href="../elements/2a83c55a-c1f8-46ac-87cd-6d32f6c0b514.html" target="element"> SLO </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/e20162aa-bc64-4776-a2d9-daa489656f08.html" target="element">  </a> </td>
																		<td> <a href="../elements/e20162aa-bc64-4776-a2d9-daa489656f08.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element"> [IT  Interface] </a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3b7888c9-c244-4220-ab59-9ab2275d3014.html" target="element">  </a> </td>
																		<td> <a href="../elements/3b7888c9-c244-4220-ab59-9ab2275d3014.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element"> [IT  Interface] </a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ef15d75c-bb38-41ae-828f-e6c462cfb9cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef15d75c-bb38-41ae-828f-e6c462cfb9cc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b170352-73b6-44de-9ec3-d71c89e41d24.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b170352-73b6-44de-9ec3-d71c89e41d24.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/97500477-ea6f-44b6-9556-2ad65a013614.html" target="element">  </a> </td>
																		<td> <a href="../elements/97500477-ea6f-44b6-9556-2ad65a013614.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/8c07202e-73a2-4f40-868b-a9f25ce5d60b.html" target="element"> [Consumer Role] </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>