<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IT</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IT</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9dfd3705-c741-4b17-a66e-2200b5f33c1c.png" alt="IT" usemap="#9dfd3705-c741-4b17-a66e-2200b5f33c1cmap"/>
			   <map name="9dfd3705-c741-4b17-a66e-2200b5f33c1cmap">
				          <area shape="rect" coords="478,178,731,419" href="../objects/2487f8a8-2e8e-4413-8bde-c73a8a80f7e5.html" target="element" >
				  		<area shape="rect" coords="250,10,669,65" href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html"  target="element">
				          <area shape="rect" coords="154,178,311,419" href="../objects/00b6bdf4-6d27-4e13-8f93-f1c578df56ff.html" target="element" >
				  		<area shape="rect" coords="166,452,286,507" href="../elements/681a893b-99f5-4aac-b3e2-bd572880add8.html"  target="element">
				  		<area shape="rect" coords="611,452,731,507" href="../elements/53d0d968-d846-412f-8152-10471c42f0e9.html"  target="element">
				  		<area shape="rect" coords="382,452,575,507" href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html"  target="element">
				  		<area shape="rect" coords="400,106,520,161" href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html"  target="element">
				  		<area shape="rect" coords="549,106,669,161" href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html"  target="element">
				  		<area shape="rect" coords="250,106,370,161" href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html"  target="element">
				  		<area shape="rect" coords="10,334,130,389" href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html"  target="element">
				  		<area shape="rect" coords="10,226,130,281" href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html"  target="element">
				  		<area shape="rect" coords="166,333,286,388" href="../elements/4329ae1d-ca46-4ea2-9666-bb8a2adcd699.html"  target="element">
				  		<area shape="rect" coords="766,333,886,388" href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html"  target="element">
				  		<area shape="rect" coords="549,334,669,389" href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html"  target="element">
				  		<area shape="rect" coords="329,226,449,281" href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html"  target="element">
				  				<area shape="rect" coords="562,226,682,281" href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html"  target="element">
				  				<area shape="rect" coords="346,334,466,389" href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html"  target="element">

				          <area shape="rect" coords="154,202,731,419" href="../objects/05bf6304-cd03-4cad-b2cb-54693ab72536.html" target="element" >
				          <area shape="rect" coords="310,178,479,419" href="../objects/9ba53a60-8285-4e12-81d1-9df5557f9536.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/9ba53a60-8285-4e12-81d1-9df5557f9536.html" target="element"> Behaviour </a> </td>
									           <td> <a href="../objects/9ba53a60-8285-4e12-81d1-9df5557f9536.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/05bf6304-cd03-4cad-b2cb-54693ab72536.html" target="element"> IT layer </a> </td>
									           <td> <a href="../objects/05bf6304-cd03-4cad-b2cb-54693ab72536.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element"> [IT Function/Process] </a> </td>
													    <td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element"> [IT  Interface] </a> </td>
													    <td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
											    <td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
											    <td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element"> [Location] </a> </td>
											    <td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4329ae1d-ca46-4ea2-9666-bb8a2adcd699.html" target="element"> [Data Object] </a> </td>
											    <td> <a href="../elements/4329ae1d-ca46-4ea2-9666-bb8a2adcd699.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
											    <td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
											    <td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
											    <td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
											    <td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
											    <td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
											    <td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/53d0d968-d846-412f-8152-10471c42f0e9.html" target="element"> [Infrastructure Interface] </a> </td>
											    <td> <a href="../elements/53d0d968-d846-412f-8152-10471c42f0e9.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/681a893b-99f5-4aac-b3e2-bd572880add8.html" target="element"> [Artifact] </a> </td>
											    <td> <a href="../elements/681a893b-99f5-4aac-b3e2-bd572880add8.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/00b6bdf4-6d27-4e13-8f93-f1c578df56ff.html" target="element"> Passive structure </a> </td>
									           <td> <a href="../objects/00b6bdf4-6d27-4e13-8f93-f1c578df56ff.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
											    <td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/2487f8a8-2e8e-4413-8bde-c73a8a80f7e5.html" target="element"> Active structure </a> </td>
									           <td> <a href="../objects/2487f8a8-2e8e-4413-8bde-c73a8a80f7e5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4a3d93c5-7403-431f-a8b8-a767737b2d4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/4a3d93c5-7403-431f-a8b8-a767737b2d4a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element"> [IT Function/Process] </a> </td>
																				<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/80aca260-8649-41e3-8588-d02c7c26d32f.html" target="element">  </a> </td>
																				<td> <a href="../elements/80aca260-8649-41e3-8588-d02c7c26d32f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element"> [IT Function/Process] </a> </td>
																				<td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element"> [IT Function/Process] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a50a636b-5228-496b-a91f-88fa185fbc40.html" target="element">  </a> </td>
																				<td> <a href="../elements/a50a636b-5228-496b-a91f-88fa185fbc40.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element"> [IT Function/Process] </a> </td>
																				<td> <a href="../elements/4329ae1d-ca46-4ea2-9666-bb8a2adcd699.html" target="element"> [Data Object] </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3b7888c9-c244-4220-ab59-9ab2275d3014.html" target="element">  </a> </td>
																				<td> <a href="../elements/3b7888c9-c244-4220-ab59-9ab2275d3014.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element"> [IT  Interface] </a> </td>
																				<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a83c286c-1f10-4c2e-979e-8da23bbb6397.html" target="element">  </a> </td>
																				<td> <a href="../elements/a83c286c-1f10-4c2e-979e-8da23bbb6397.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element"> [IT  Interface] </a> </td>
																				<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e20162aa-bc64-4776-a2d9-daa489656f08.html" target="element">  </a> </td>
																				<td> <a href="../elements/e20162aa-bc64-4776-a2d9-daa489656f08.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element"> [IT  Interface] </a> </td>
																				<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/133918b4-d2a2-4e40-9382-b9e7482cf6e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/133918b4-d2a2-4e40-9382-b9e7482cf6e5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element"> [IT Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/160ef9b4-7249-4589-aa9e-d04c385a75e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/160ef9b4-7249-4589-aa9e-d04c385a75e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/57f9a938-ad55-41bd-9b78-3901f60a6c1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/57f9a938-ad55-41bd-9b78-3901f60a6c1f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8396e59b-ce59-4dda-beaa-ec2a3301e86c.html" target="element">  </a> </td>
																		<td> <a href="../elements/8396e59b-ce59-4dda-beaa-ec2a3301e86c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ef15d75c-bb38-41ae-828f-e6c462cfb9cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef15d75c-bb38-41ae-828f-e6c462cfb9cc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f12f4e07-0fc0-4651-94f0-67185d9d8eea.html" target="element"> ? </a> </td>
																		<td> <a href="../elements/f12f4e07-0fc0-4651-94f0-67185d9d8eea.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b170352-73b6-44de-9ec3-d71c89e41d24.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b170352-73b6-44de-9ec3-d71c89e41d24.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/304518b7-9287-4583-97e4-4b93699d4ef2.html" target="element">  </a> </td>
																		<td> <a href="../elements/304518b7-9287-4583-97e4-4b93699d4ef2.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																		<td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element"> [IT Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6823b6bd-6a51-4297-a97f-db47966782e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/6823b6bd-6a51-4297-a97f-db47966782e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																		<td> <a href="../elements/635d15c3-7a8b-4344-b62b-68a715c902c2.html" target="element"> [IT  Interface] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/847d3ff1-aec0-40ae-898a-30f6c3035a4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/847d3ff1-aec0-40ae-898a-30f6c3035a4d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7dc4a38f-547d-43c9-92b1-bd1edde91121.html" target="element">  </a> </td>
																		<td> <a href="../elements/7dc4a38f-547d-43c9-92b1-bd1edde91121.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e9eca9d9-2a32-4cc6-a6e6-e84a194026e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9eca9d9-2a32-4cc6-a6e6-e84a194026e2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db47c385-2da8-41f3-8cfd-e2777bec15ff.html" target="element"> [Location] </a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/36199f91-ffd1-4222-9a61-862c98cdf6fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/36199f91-ffd1-4222-9a61-862c98cdf6fc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4329ae1d-ca46-4ea2-9666-bb8a2adcd699.html" target="element"> [Data Object] </a> </td>
																		<td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b9009c73-d47f-409c-aea0-143d1c3484be.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9009c73-d47f-409c-aea0-143d1c3484be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40e1bfe0-17be-4891-9754-3d8228a0c2b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/40e1bfe0-17be-4891-9754-3d8228a0c2b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/7d3328be-ea0a-442e-8d94-3761b418a86c.html" target="element"> [Business Object] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/60cf879d-7e72-4f50-8891-f85a8a4248dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/60cf879d-7e72-4f50-8891-f85a8a4248dc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/4329ae1d-ca46-4ea2-9666-bb8a2adcd699.html" target="element"> [Data Object] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/15aed3e8-65ac-41ca-abd5-af0998d2b203.html" target="element">  </a> </td>
																		<td> <a href="../elements/15aed3e8-65ac-41ca-abd5-af0998d2b203.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc843eff-5281-4c65-a094-7c3e0fafef11.html" target="element"> [Product] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/774f586b-2b8d-4508-b0f9-8ed7f0c2c72c.html" target="element">  </a> </td>
																		<td> <a href="../elements/774f586b-2b8d-4508-b0f9-8ed7f0c2c72c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																		<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2238f3ca-9f1f-4672-890e-6948caafc4da.html" target="element"> ? </a> </td>
																		<td> <a href="../elements/2238f3ca-9f1f-4672-890e-6948caafc4da.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/ac7dc42f-b355-4eeb-b9bc-6ea967e8916e.html" target="element"> [Operator Role] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a487243b-f0f2-4e6e-a25b-15880777f0e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a487243b-f0f2-4e6e-a25b-15880777f0e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6e1d8e54-5cc8-4613-8117-aa33f9e2681a.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e1d8e54-5cc8-4613-8117-aa33f9e2681a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
																		<td> <a href="../elements/e7a8ebf5-6fb4-4496-a794-82afcb7696c5.html" target="element"> [IT Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/24169398-d19b-4655-b830-ad5209aafcac.html" target="element">  </a> </td>
																		<td> <a href="../elements/24169398-d19b-4655-b830-ad5209aafcac.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
																		<td> <a href="../elements/5c0c77e8-79d5-495e-8dab-e57f1832545a.html" target="element"> [IT Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4c3f9d4b-0ebc-485b-bedc-4cc58f3ac86f.html" target="element">  </a> </td>
																		<td> <a href="../elements/4c3f9d4b-0ebc-485b-bedc-4cc58f3ac86f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9eb90f81-8fd7-4dd0-aa7d-c64fd1b0ff80.html" target="element">  </a> </td>
																		<td> <a href="../elements/9eb90f81-8fd7-4dd0-aa7d-c64fd1b0ff80.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/53d0d968-d846-412f-8152-10471c42f0e9.html" target="element"> [Infrastructure Interface] </a> </td>
																		<td> <a href="../elements/56840c4c-50f6-43b6-8ec7-1200889c39b8.html" target="element"> [Infrastructure Service] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c1ef28af-a1e8-4684-a677-9f6c9c35d251.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1ef28af-a1e8-4684-a677-9f6c9c35d251.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/53d0d968-d846-412f-8152-10471c42f0e9.html" target="element"> [Infrastructure Interface] </a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/437ac8a6-c18b-4dbe-8b0c-71fc42f6ec42.html" target="element">  </a> </td>
																		<td> <a href="../elements/437ac8a6-c18b-4dbe-8b0c-71fc42f6ec42.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/681a893b-99f5-4aac-b3e2-bd572880add8.html" target="element"> [Artifact] </a> </td>
																		<td> <a href="../elements/4329ae1d-ca46-4ea2-9666-bb8a2adcd699.html" target="element"> [Data Object] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d04eb7a-bff4-46d6-9dc5-0bdbb7edd2b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d04eb7a-bff4-46d6-9dc5-0bdbb7edd2b5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/681a893b-99f5-4aac-b3e2-bd572880add8.html" target="element"> [Artifact] </a> </td>
																		<td> <a href="../elements/75492239-02bc-4e6b-98e2-cb3fb351c520.html" target="element"> [IT System/Subsystem/Component] </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/9e0dc772-0ae3-494c-9e46-ad8ecd1cce1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/9e0dc772-0ae3-494c-9e46-ad8ecd1cce1a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																		<td> <a href="../elements/75daabe0-ed76-49c5-bb8a-5ef03ee94d5e.html" target="element"> [Business Function/Process] </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6fe15aeb-80c1-4d53-862f-f9ba059c9223.html" target="element">  </a> </td>
																		<td> <a href="../elements/6fe15aeb-80c1-4d53-862f-f9ba059c9223.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9bcf09b8-5d9a-43be-a0e2-34e421706196.html" target="element"> [Business Service] </a> </td>
																		<td> <a href="../elements/6640e3c7-0be3-4474-ada8-2ce1be0d01c5.html" target="element"> [Service] </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>